*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

:root {

    --c-bg-color:#141321;
    --c-bg-primary:#266c7a;
    --c-bg-secondary:#113e51;

    --c-node-body: #133c4e;
    --c-node-section:#304050;
    --c-node-element:#80959e;
    --c-node-cancel-button:#fa6b83;
    --c-node-link:#e9ff5c;

    --c-border:#27fef9;

    --c-aqua   : #27fef9;
    --c-turquoise:#158f9a;
    --c-purple : #743fd7;
    --c-mint   : #3fd7a3;
    --c-orange : #d64310;
    --c-yellow : #d1c138;

    --c-text-main : white;
  }

body 
{
    background-color:var(--c-bg-color);
}

#container 
{
    width: 100%;
    height:100%;
    transform-origin: top left;
    background-color: var(--c-bg-color);
    background-image:
      linear-gradient( var(--c-bg-primary) 2px, transparent 2px),
      linear-gradient(90deg,var(--c-bg-primary) 2px, transparent 2px),
      linear-gradient(var(--c-bg-secondary) 1px, transparent 1px),
      linear-gradient(90deg, var(--c-bg-secondary) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}


.grid{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .item {
    text-align: center;
  }

/*Node link*/
path
{
    stroke: var(--c-node-link);
    stroke-width: 1px;

}
.delBtn
{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width:15px;
    height:15px;
    border-radius: 50%;
    cursor:default;
    transition: 0.3s;
    background: var(--c-node-cancel-button);
}

.delBtn:hover
{
    filter: brightness(120%);
    transition: 0.3s;
}

.btn
{
    border: 0.1vw solid var(--c-aqua);
    background-color: var(--c-bg-color);
    padding: 0.8vw 1.6vw;
    font-size: 1.2vw;
    line-height: 1.2vw;
    cursor: pointer;
    border-radius: 0px; 
    margin : 0.4vw;
    font-size-adjust: none;
    color: var(--c-text-main);  
}

button:focus
{
    border: 0.1vw solid var(--c-aqua);
    background-color: var(--c-bg-color);
    padding: 0.8vw 1.6vw;
    font-size: 1.2vw;
    line-height: 1.2vw;
    cursor: pointer;
    border-radius: 0px; 
    margin : 0.4vw;
    font-size-adjust: none;
    color: var(--c-text-main); 
}

#result
{
    background-color: var(--c-bg-color);
    border:0.1vw solid var(--c-aqua);
    margin : 0.5vw;
}

.connection
{
    width:15px;
    height:15px;
    border-radius: 50%;
    transition: 0.3s;
    background-color: var(--c-node-link);
}

.output
{
    margin-top:20px;
    margin-right:-7px;
    
    border: solid var(--c-border) 2px;
}

.input
{
    margin-top:20px;
    margin-left:-7px;
    float:left;
}



#a
{
    left:200px;
    top:300px;
    position: absolute;
}

.connection:hover
{
    filter: hue-rotate(-60deg);
}

.node 
{
    width: 200px;
    padding-bottom: 10px;
    position: absolute;
    background-color: var(--c-node-body);
    border-radius: 10px;
    border: solid var(--c-border) 2px;   
    transform-origin: top left;
}
  
.nodeheader
{
    width: auto;    
    height: 35px;
    cursor: grab;
    background-color: var(--c-turquoise);
    border-radius: 8px 8px 0px 0px;
}
  
.nodeheader:active
{
    cursor:grabbing;
}

.answer 
{
    background-color: var(--c-node-section);
    margin-top: 10px;
    padding-top:5px;
}

input, select, textarea{
    width: 90%;
    padding: 4px;
    margin-left: 10px;
    margin-right:10px;
    margin-top:10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

.index 
{
    width: 40px;
    padding: 4px;
    margin-top:5px;
    background: var(--c-turquoise);
    box-shadow: none;
    border: none;
    text-align: center;
    color: white;
}

button 
{
    background-color: var(--c-yellow);
    color: white;
    padding: 4px;
    border: none;
    margin: 5px 5px 0px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button  
{
    -webkit-appearance: none;
    border:none;
}